@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color: #333;
$main-hight: 100vh;

main {
    height: $main-hight;
    background-color: $primary-color;
    
    a {
        padding-block: 2.5rem;
        font-weight: bold;
    }
}