body {
  margin: 0;
  font-family: "Secular One", sans-serif;
  background: linear-gradient(90deg, #0c164d 0%, #190b22 100%);
  color: white;
  /* overflow: hidden; */
}

header {
  text-align: right;
  padding: 1.3rem;
}
header h1 {
  font-size: 3.7rem;
  margin: 0;
  letter-spacing: 0.09em;
}
header p {
  font-size: 1.5rem;
  margin: 0;
  color: #ffd029;
  letter-spacing: 0.6em;
}

#search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 35%;
  top: -4.3rem;
  max-width: 40rem;
}
#search-container h2 {
  text-align: center;
  font-size: 2rem;
}
#search-container #search-input {
  height: 3rem;
  width: 20rem;
  align-self: center;
  justify-self: center;
  z-index: 1;
  font-size: 1rem;
}

.solar-system {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  margin-top: -12.5rem;
}
.solar-system .planet {
  position: absolute;
  border-radius: 50%;
}
.solar-system .sun {
  width: 56.25rem;
  aspect-ratio: 1;
  background: #ffd029;
  box-shadow: 0 0 250px rgba(255, 208, 41, 0.5);
  left: -43.75rem;
}
.solar-system .sun h2 {
  margin-left: 59.375rem;
  margin-top: 12.5rem;
}
.solar-system .sun:hover {
  cursor: pointer;
}
.solar-system .sun:hover h2 {
  color: #190b22;
  text-shadow: 0 0 5px #d8deed;
}
.solar-system .mercury {
  width: 0.875rem;
  height: 0.875rem;
  background: #888888;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.solar-system .mercury h2 {
  margin-left: -3.2rem;
}
.solar-system .mercury:hover {
  cursor: pointer;
}
.solar-system .mercury:hover h2 {
  color: #190b22;
  text-shadow: 0 0 5px #d8deed;
}
.solar-system .venus {
  width: 1.625rem;
  height: 1.625rem;
  background: #e7cdcd;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
}
.solar-system .venus h2 {
  margin-left: -1.25rem;
  margin-top: -2.5rem;
}
.solar-system .venus:hover {
  cursor: pointer;
}
.solar-system .venus:hover h2 {
  color: #190b22;
  text-shadow: 0 0 5px #d8deed;
}
.solar-system .earth {
  width: 1.75rem;
  height: 1.75rem;
  background: #428ed5;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
}
.solar-system .earth h2 {
  margin-left: -1.6rem;
  margin-top: 1.875rem;
}
.solar-system .earth:hover {
  cursor: pointer;
}
.solar-system .earth:hover h2 {
  color: #190b22;
  text-shadow: 0 0 5px #d8deed;
}
.solar-system .mars {
  width: 0.875rem;
  height: 0.875rem;
  background: #ef5f5f;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.solar-system .mars h2 {
  margin-left: -1.125rem;
}
.solar-system .mars:hover {
  cursor: pointer;
}
.solar-system .mars:hover h2 {
  color: #190b22;
  text-shadow: 0 0 5px #d8deed;
}
.solar-system .jupiter {
  width: 11.75rem;
  height: 11.75rem;
  background: #e29468;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.solar-system .jupiter h2 {
  margin-left: 3.4375rem;
  margin-top: -2.8125rem;
}
.solar-system .jupiter:hover {
  cursor: pointer;
}
.solar-system .jupiter:hover h2 {
  color: #190b22;
  text-shadow: 0 0 5px #d8deed;
}
.solar-system .saturn {
  width: 9rem;
  height: 9rem;
  background: #c7aa72;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.solar-system .saturn h2 {
  margin-left: 1.4rem;
  margin-top: -2.5rem;
}
.solar-system .saturn:hover {
  cursor: pointer;
}
.solar-system .saturn:hover h2 {
  color: #190b22;
  text-shadow: 0 0 5px #d8deed;
}
.solar-system .saturn-ring {
  position: absolute;
  width: 16.125rem;
  height: 0.625rem;
  background: rgba(255, 255, 255, 0.4);
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%) rotate(-30deg);
  border-radius: 50%;
}
.solar-system .uranus {
  width: 4.125rem;
  height: 4.125rem;
  background: #c9d4f1;
  top: 50%;
  left: 82%;
  transform: translate(-50%, -50%);
}
.solar-system .uranus h2 {
  margin-left: -0.625rem;
  margin-top: 4.375rem;
}
.solar-system .uranus:hover {
  cursor: pointer;
}
.solar-system .uranus:hover h2 {
  color: #190b22;
  text-shadow: 0 0 5px #d8deed;
}
.solar-system .neptune {
  width: 4.125rem;
  height: 4.125rem;
  background: #7a91a7;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.solar-system .neptune h2 {
  margin-left: -1.5rem;
  margin-top: -2.5rem;
}
.solar-system .neptune:hover {
  cursor: pointer;
}
.solar-system .neptune:hover h2 {
  color: #190b22;
  text-shadow: 0 0 5px #d8deed;
}

@media screen and (max-width: 600px) {
  .solar-system {
    display: flex;
    flex-direction: column;
  }
  .planet {
    flex-direction: column;
  }
}
.planet-info-container {
  max-width: 62.5rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding: 3rem;
  min-height: 70vh;
  border-radius: 1rem;
  box-shadow: 0 0 2.8125rem #d8deed;
}
.planet-info-container h1.planet-heading {
  font-size: 2.5rem;
}
.planet-info-container h2.latin-name {
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.1rem;
  margin-top: -0.5rem;
}
.planet-info-container p.description {
  font-size: 1.1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid rgba(235, 235, 235, 0.4196078431);
  border-bottom: 1px solid rgba(235, 235, 235, 0.4196078431);
}/*# sourceMappingURL=style.css.map */