body {
  margin: 0;
  font-family: "Secular One", sans-serif;
  background: linear-gradient(90deg, #0c164d 0%, #190b22 100%);
  color: white;
  /* overflow: hidden; */
}

header {
  text-align: right;
  padding: 20px;

  h1 {
    font-size: 60px;
    margin: 0;
    letter-spacing: 0.09em;
  }

  p {
    font-size: 24px;
    margin: 0;
    color: #ffd029;
    letter-spacing: 0.6em;
  }
}

#search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 35%;
  top: -50px;
  max-width: 40rem;

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  #search-input {
    height: 3rem;
    width: 20rem;
    align-self: center;
    justify-self: center;
    z-index: 1;
    font-size: 1rem;
  }
}

.solar-system {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -150px;

  .planet {
    position: absolute;
    border-radius: 50%;
  }

  .sun {
    width: 900px;
    aspect-ratio: 1;
    background: #ffd029;
    box-shadow: 0 0 250px rgba(255, 208, 41, 0.5);
    left: -700px;

    h2 {
      margin-left: 950px;
      margin-top: 200px;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover h2 {
      color: #190b22;
      text-shadow: 0 0 5px #d8deed;
    }
  }

  .mercury {
    width: 14px;
    height: 14px;
    background: #888888;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);

    h2 {
      margin-left: -40px;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover h2 {
      color: #190b22;
      text-shadow: 0 0 5px #d8deed;
    }
  }

  .venus {
    width: 26px;
    height: 26px;
    background: #e7cdcd;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);

    h2 {
      margin-left: -20px;
      margin-top: -40px;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover h2 {
      color: #190b22;
      text-shadow: 0 0 5px #d8deed;
    }
  }

  .earth {
    width: 28px;
    height: 28px;
    background: #428ed5;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);

    h2 {
      margin-left: -15px;
      margin-top: 30px;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover h2 {
      color: #190b22;
      text-shadow: 0 0 5px #d8deed;
    }
  }

  .mars {
    width: 14px;
    height: 14px;
    background: #ef5f5f;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);

    h2 {
      margin-left: -18px;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover h2 {
      color: #190b22;
      text-shadow: 0 0 5px #d8deed;
    }
  }

  .jupiter {
    width: 188px;
    height: 188px;
    background: #e29468;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);

    h2 {
      margin-left: 55px;
      margin-top: -45px;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover h2 {
      color: #190b22;
      text-shadow: 0 0 5px #d8deed;
    }
  }

  .saturn {
    width: 144px;
    height: 144px;
    background: #c7aa72;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);

    h2 {
      margin-left: 35px;
      margin-top: -40px;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover h2 {
      color: #190b22;
      text-shadow: 0 0 5px #d8deed;
    }
  }

  .saturn-ring {
    position: absolute;
    width: 218px;
    height: 10px;
    background: rgba(255, 255, 255, 0.4);
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(-30deg);
    border-radius: 50%;
  }

  .uranus {
    width: 66px;
    height: 66px;
    background: #c9d4f1;
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%);

    h2 {
      margin-left: -10px;
      margin-top: 70px;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover h2 {
      color: #190b22;
      text-shadow: 0 0 5px #d8deed;
    }
  }

  .neptune {
    width: 66px;
    height: 66px;
    background: #7a91a7;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);

    h2 {
      margin-left: -12px;
      margin-top: -40px;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover h2 {
      color: #190b22;
      text-shadow: 0 0 5px #d8deed;
    }
  }
}

@media screen and (max-width: 600px) {
  .solar-system {
    display: flex;
    flex-direction: column;
  }

  .planet {
    flex-direction: column;
  }
}
