body {
  margin: 0;
  font-family: "Secular One", sans-serif;
  background: linear-gradient(90deg, #0c164d 0%, #190b22 100%);
  color: white;
  /* overflow: hidden; */
}

header {
  text-align: right;
  padding: 1.3rem;
  position: relative;
  z-index: 5;

  h1 {
    font-size: 3.7rem;
    margin: 0;
    letter-spacing: 0.09em;
  }

  p {
    font-size: 1.5rem;
    margin: 0;
    color: #ffd029;
    letter-spacing: 0.6em;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}

#search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 35%;
  top: -4.3rem;
  max-width: 40rem;

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  #search-input {
    height: 3rem;
    width: 20rem;
    align-self: center;
    justify-self: center;
    z-index: 1;
    font-size: 1rem;
  }
}

.solar-system {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh;
  margin-top: -17.5rem;
  overflow: hidden;

  .planet {
    position: absolute;
    border-radius: 50%;
  }

  .planet:hover {
    box-shadow: 0 0 55px 15px #abb9db;
  }

  .sun {
    width: 56.25rem;
    aspect-ratio: 1;
    background: #ffd029;
    box-shadow: 0 0 250px rgba(255, 208, 41, 0.5);
    left: -43.75rem;

    h2 {
      margin-left: 59.375rem;
      margin-top: 12.5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .mercury {
    width: 0.875rem;
    height: 0.875rem;
    background: #888888;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);

    h2 {
      margin-left: -3.2rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .venus {
    width: 1.625rem;
    height: 1.625rem;
    background: #e7cdcd;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);

    h2 {
      margin-left: -1.25rem;
      margin-top: -2.5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .earth {
    width: 1.75rem;
    height: 1.75rem;
    background: #428ed5;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);

    h2 {
      margin-left: -1.6rem;
      margin-top: 1.875rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .mars {
    width: 0.875rem;
    height: 0.875rem;
    background: #ef5f5f;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);

    h2 {
      margin-left: -1.125rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .jupiter {
    width: 11.75rem;
    height: 11.75rem;
    background: #e29468;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);

    h2 {
      margin-left: 3.4375rem;
      margin-top: -2.8125rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .saturn {
    width: 9rem;
    height: 9rem;
    background: #c7aa72;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);

    h2 {
      margin-left: 1.4rem;
      margin-top: -2.5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .saturn-ring {
    position: absolute;
    width: 16.125rem;
    height: 0.625rem;
    background: rgba(255, 255, 255, 0.4);
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-30deg);
    border-radius: 50%;
  }

  .uranus {
    width: 4.125rem;
    height: 4.125rem;
    background: #c9d4f1;
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%);

    h2 {
      margin-left: -0.625rem;
      margin-top: 4.375rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .neptune {
    width: 4.125rem;
    height: 4.125rem;
    background: #7a91a7;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);

    h2 {
      margin-left: -1.5rem;
      margin-top: -2.5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 600px) {
  .solar-system {
    display: flex;
    flex-direction: column;
  }

  .planet {
    flex-direction: column;
  }
}

.planet-info-container {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  // margin-top: 2rem;
  margin-bottom: 2rem;
  margin-inline: 2rem;
  padding: 1.5rem;
  min-height: 70vh;
  border-radius: 1rem;
  // box-shadow: 0 0 2.8125rem #d8deed;

  a.back-to-index {
    color: #ffd029;
    align-self: flex-end;
    font-size: 1rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    opacity: 80%;
  }

  h1.planet-heading {
    font-size: 3.75rem;
    font-family: "Secular One", sans-serif;
    letter-spacing: 0.09rem;
    font-size: bold;
    margin-top: 0;
  }

  h2.latin-name {
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.7rem;
    margin-top: -0.5rem;
  }

  p.description {
    font-size: 1.1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid #ebebeb6b;
    border-bottom: 1px solid #ebebeb6b;
  }

  .line {
    width: 100%;
    opacity: 50%;
  }

  .temp-container {
    display: flex;
    justify-content: space-between;

    p {
      margin-top: -1rem;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
  }

  .stat {
    margin-block: 1rem;

    p {
      margin-top: -1rem;
    }
  }
}

// Rotation effect -----------------------

// .planet:not(.sun):hover {
//   animation: rotate 5s infinite linear;
// }

// @keyframes rotate {
//   from {
//     transform: translate(-50%, -50%) rotate(0deg);
//   }
//   to {
//     transform: translate(-50%, -50%) rotate(360deg);
//   }
// }

// Orbital effect --------------------------

// .planet {
//   animation: orbit 10s infinite linear;
// }

// @keyframes orbit {
//   from {
//     transform: rotate(0deg) translateX(3rem) rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg) translateX(3rem) rotate(-360deg);
//   }
// }

.sun::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 208, 41, 0.5), transparent);
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}
