*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    list-style: none;
}

html {
    color-scheme: dark light;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}


p {
    min-width: 75ch;
    text-wrap: pretty;
}

@media (prefers-reduce-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 1rem;
    }
}



/* -------------------- End of Reset ------------------------ */

body {
    background-color: #000;
    font-family: Inter, sans-serif;
    background-image: url(bg.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 90%;
    margin: 0 auto;
}

#logo {
    scale: 60%
}

header nav {
    font-size: 1.3rem;
    align-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header nav ul li {
    display: inline;
    margin-left: 5rem;
}

main {
    width: 90%;
    margin: 0 auto;
}

#hero-text {
    width: 100%;
    min-height: 70vh;
    text-align: center;
    margin-top: 10rem;
    display: flex;
}

#hero-text h1 {
    font-size: clamp(3rem, 6vw, 7rem);
    max-width: 33rem;
    justify-content: center;
    align-content: center;
    margin-top: -6rem;
    margin-left: 10rem;
}

.filler {
    width: 50%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.gallery img {
    width: 25%;
    height: auto;
}

footer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    scale: 60%;
}

footer nav ul li {
    display: inline;
    margin: 0 2rem;
}

footer figure img {
    display: inline;
    margin-left: 1rem;
}

.instagram {
    scale: 110%;
}