/* -------------------- Beginning of Reset ------------------------ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    list-style: none;
}

html {
    color-scheme: dark light;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}


p {
    min-width: 75ch;
    text-wrap: pretty;
}

@media (prefers-reduce-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 1rem;
    }
}
/* -------------------- End of Reset ------------------------ */






body {
    background-color: #000;
    font-family: Inter, sans-serif;
    background-image: url(bg.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 90%;
    margin: 0 auto;
}

#logo {
    scale: 60%
}

nav {
    font-size: 1.3rem;
    align-content: center;
    display: none;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header nav ul li {
    display: inline;
    margin-left: 5rem;
}

main {
    width: 90%;
    margin: 0 auto;
}

#hero-text {
    width: 50%;
    min-height: 100vh;
    text-align: center;
}

#hero-text h1 {
    font-size: clamp(3rem, 6vw, 7rem);
    font-weight: 500;
    max-width: 50%;
    justify-content: center;
    align-content: top;
    margin-top: 5rem;
    margin-left: 8rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.gallery img {
    height: auto;
}

footer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    scale: 40%;
}

footer nav ul {
    margin-left: -9rem;
}

footer nav ul li {
    display: inline;
    margin: 0 0.5rem;
}

footer figure img {
    display: inline;
    margin-left: 1rem;
}

.instagram {
    width: 25%
}

.linkedin {
    width: 25%;
}

/* ------------------------- Tablet ---------------------------- */

@media (min-width: 640px) {
    nav {
        display: none;
    }

    .gallery img {
        width: 45%;
    }
}



/* ------------------------- Desktop ---------------------------- */

@media (width > 1240px) {
    .gallery img {
        width: 30%;
    }

    nav {
        display: block;
    }

    .instagram {
        scale: 110%;
    }

}